//color schemes
//1
$styleNumber: '';
$colorMain: #dbac6d;
$colorMain2: #fccc7c;
$colorMain3: #fcc465;
$colorMain4: #e43d4e;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;