//color schemes
//2
$styleNumber: '2';
$colorMain: #8a8a3d;
$colorMain2: #b3b362;
$colorMain3: #dbdb81;
$colorMain4: #fea84b;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #388E3C;
//blue
$colorInfo: #2196F3;
//orange
$colorWarning: #FFC400;
//red
$colorDanger: #D50000;