//color schemes
//3
$styleNumber: '3';
$colorMain: #e58804;
$colorMain2: #faa327;
$colorMain3: #ffa628;
$colorMain4: #82b440;

//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;